*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
SignalRPractice/[Dd]ebug/
SignalRPractice/[Dd]ebugPublic/
SignalRPractice/[Rr]elease/
SignalRPractice/[Rr]eleases/
SignalRPractice/x64/
SignalRPractice/x86/
SignalRPractice/build/
SignalRPractice/bld/
SignalRPractice/[Bb]in/
SignalRPractice/[Oo]bj/
SignalRPractice/[Oo]ut/
SignalRPractice/msbuild.log
SignalRPractice/msbuild.err
SignalRPractice/msbuild.wrn
/SignalRPractice/SignalRPractice.csproj.user
